fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
python-jose
passlib[bcrypt]

torch
transformers
pillow
sentencepiece
protobuf

pytest
pypdfium2
sentence-transformers
librosa
soundfile

google-generativeai